@model IEnumerable<bookClub.Models.Book>

@{
    ViewBag.Title = "IndexFilter";
}

<h2>Filter</h2>

<p>
    @using (Html.BeginForm("IndexFilter", "Books", FormMethod.Get))
    {
    <p>
        Title/Genre/Author: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
    }
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                    @if (Session["UserType"] != null && Int32.Parse(Session["UserType"].ToString()) == 1)
                    {
                        @Html.ActionLink("Add to favourites", "FavouritesFilter", new { id = item.ID })
                    }

                </td>
            </tr>
        }

    </table>
