@model IEnumerable<bookClub.Models.Book>

@{
    ViewBag.Title = "ProfileUser";
}

<h2>My favourite books</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
            </tr>
        }

    </table>
